@theme inline {
  /* Font Variables from next/font/google */
  --font-fraunces: var(--font-frauncesSerif);
  --font-barlow: var(--font-barlowSansSerif);
}

@theme {
  /* Breakpoints */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint: 1536px;

  /* Colors */
  --color-brand-primary: #0e8784;
  --color-brand-primary-light: #66d2cf;

  --color-accent-secondary: #fdd6ba;

  --color-surface-page: #fefcf7;
  --color-surface-card: #2c343e;

  --color-body: #333d4b;
  --color-body-inverted: #fefcf7;

  --color-ui-neutral: #83888f;
}
